@media (max-width: 420px) {
  nav {
    width: 80% !important;
    padding: 6px 10px !important;
    overflow: hidden;
  }

  .mobile-menu {
    width: 75% !important;
  }

  .mobile-menu button {
    font-size: 14px !important;
    padding: 8px 12px !important;
  }
}