@media (max-width: 799px) {

  /* Applies to screens from 0 to 799px */
  .custom-mobile-height {
    height: 100vh;
    /* Full height on very small screens */
  }
}

@media (min-width: 640px) and (max-width: 799px) {

  /* For screens between 640px and 799px */
  .custom-tablet-height {
    height: 800px;
    /* Fix height for tablets */
  }
}

.heropage {
  overflow: hidden;
}