@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
body,
html {
  background-color: black;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.fade-up-enter {
  opacity: 0;
  transform: translateY(20px) scale(0.95);
}
.fade-up-enter-active {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: opacity 1000ms ease-out, transform 1000ms ease-out;
}
.fade-up-exit {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.fade-up-exit-active {
  opacity: 0;
  transform: translateY(20px) scale(0.95);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

/* Slide Left */
.slide-left-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.slide-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.slide-left-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-left-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

/* Slide Right */
.slide-right-enter {
  opacity: 0;
  transform: translateX(100%);
}
.slide-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.slide-right-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

/* Center Fade */
.slide-center-enter {
  opacity: 0.5;
  transform: scale(0.9);
}
.slide-center-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.slide-center-exit {
  opacity: 1;
  transform: scale(1);
}
.slide-center-exit-active {
  opacity: 0.5;
  transform: scale(0.9);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}
